body{
    background-color: #90EE90;
    border-radius: 50px;
    border: 10px solid #9ACD32;
    box-sizing: border-box;
    padding-left: 15%;
    padding-right: 15%;
}
.ty-body{
    background-color: #90EE90;
    border: 10px solid #9ACD32;
    box-sizing: border-box;
    padding-left: 15%;
    padding-right: 15%;
    padding-left: 10%;
    padding-top: 5%;

}
.warning {
    color:#00008B;
    font-style: italic;
    font-weight:200;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-decoration: double;
  }

  input[type=submit] {
    background-color: #B88600;
    color: #FFFF0F;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .p-style{
    font-style: oblique;
    text-decoration: dashed;
    font-weight: 400;
    
  }
