* {
	font-family: Arial, Verdana, sans-serif;
	color: #000000;
	text-align: center;
}
h1 {
   font-family: 'TGRomanRegular';
   font-weight: normal;
   font-style: normal;
   color: #A52A2A;

}
p {
   font-family: 'TGRomanRegular';
   font-weight: normal;
   font-style: normal;
}

body 
{
	width: 90%;
	margin: 0 auto;
    background-image: url("https://images.unsplash.com/photo-1597733153203-a54d0fbc47de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hvY29sYXRlJTIwY2hpcCUyMGNvb2tpZXxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size: contain;
    background-repeat:repeat;
    background-position: center;
  
}
#content 
{
	overflow: auto;
}
#nav, #feature, #footer 
{
	margin: 1%;
}
.column1, .column2, .column3 
{
	width: 31.3%;
	float: left;
	margin: 1%;
 
}
.column1{
    background-color: #FFFF00;
}
.column2{
    background-color:#D2B48C;
}
.column3{
    background-color:#00FF7F;
}

.column3
{
	margin-right: 0%;
}
li 
{
	display: inline;
	padding: 0.5em;
}
#nav, #footer 
{
	background-color: #AFEEEE;
	padding: 0.5em 0;
}
#footer
{
   background-color:#AFEEEE;
	padding: 0.5em 0; 
}
#feature, .article ,.column1,.column2,.column3
{
	height: 10em;
	margin-bottom: 1em;
	
}

#feature {
 background-color: #FF69B4;
 background-image: url("https://www.freepnglogos.com/uploads/cookie-png/chocolate-cookie-png-transparent-image-pngpix-25.png");
 background-size:contain;
 background-position: right;
 background-repeat:no-repeat;}
